<%= form_tag(admin_ver_actividad_ver_path, :method => "post") do %>
	<%= select_tag :alumno_id, options_for_select( 

Alumno.where("id IN (SELECT alumno_id FROM sector_alumnos WHERE sector_id IN (SELECT sector_id FROM usuario_sectores WHERE admin_usuario_id=#{current_admin_usuario.id}) AND anio IN (SELECT anio FROM configs WHERE NOT anio IS NULL))".order(:nombre,:apellido).map{|u| ["#{u.id} - #{u.nombre} #{u.apellido}", u.id]},alumno_id) %>
    <%= submit_tag "Ver" %>
<% end %>
<br><br>




<% if alumno_id != nil %>
<div class="col-md-12 col-sm-12 col-xs-12 content-table">
	<div class="panel-group sub-grupo">
		<div class="panel panel-default">
			<div class="col-md-12 col-sm-12 col-xs-12 content-table">


<% t = alumno_id %>
<% @act = ActividadAlumno.where(['alumno_id = ?',t]).order("actividad_id") %>
<% if (@act != nil) %>
	<% @act.each do |a| %>
		<% @actividad = Actividad.find(a.actividad_id) rescue nil %>
		<% if @actividad != nil && (@actividad.fecha == nil || @actividad.fecha >= DateTime.now ) %>
		    <br>
			
			<%= link_to "Descargar información: #{@actividad.nombre}", admin_ver_actividad_descargar_path("id", id: @actividad.id), method: :post %><br><br>

	    	<% arreglo = ActividadOpcion.opciones(@actividad.id) %>
			<% if arreglo[:opciones].count > 0 %>
				<%= form_tag(admin_ver_actividad_confirmar_path, :method => "post") do %>
					<%= select_tag :opcion, options_for_select(arreglo[:opciones], a.opcion) %><br><br>
		            <%= submit_tag "Confirmar"  %>
				<% end %>												
			<% end %>	
			<br>
		<% end %>
	<% end %>
<% end %>

			</div>
		</div>
	</div>
</div>
<% end %>
