<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% h = Hash.new %>
<% [999,1001,1002,1003,1004].each do |tipo| %>
    <% Movimiento.where("fecha>='2019-01-01' AND tipo=#{tipo}").select("fecha, SUM(debe) as suma").group(:fecha).order(:fecha).each do |m| %>
        <% if !h.has_key?(m.fecha) %>
            <% h[m.fecha] = Hash.new %>
        <% end %>
        <% h[m.fecha][tipo] = m.suma %>
    <% end %>
<% end %>

<% fecha_ant = nil %>
<% fecha_pos = nil %>
<% h.keys.each do |k| %>
    <% fecha_ant = fecha_pos %>
    <% fecha_pos = k %>
    <% if fecha_ant != nil %>
        <% h[fecha_ant][1005] = Movimiento.where("fecha>='#{fecha_ant.strftime('%Y-%m-%d')}' AND fecha<'#{fecha_pos.strftime('%Y-%m-%d')}' AND tipo=1005").sum(:haber) %>
    <% end %>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
    		<form>
                <table class="index_table index">
                <thead>
                <tr><th>Fecha</th><th>Congelado</th><th>Cuotas</th><th>Extracurricular</th><th>Recargos</th><th>Refinanciación</th><th>Total</th><th>Cobrado</th></tr>
                </thead>
                <tbody>
                    <% i = 0 %>
                    <% h.keys.each do |k| %>
                        <% congelado = (h[k].has_key?(999) ? h[k][999] : 0) %>
                        <% cuota = (h[k].has_key?(1001) ? h[k][1001] : 0) %>
                        <% extra = (h[k].has_key?(1002) ? h[k][1002] : 0) %>
                        <% recargos = (h[k].has_key?(1003) ? h[k][1003] : 0) %>
                        <% refin = (h[k].has_key?(1004) ? h[k][1004] : 0) %>
                        <% total = cuota + extra + recargos + refin %>
                        <% cobrado = (h[k].has_key?(1005) ? h[k][1005] : 0) %>

                        <% if i % 2 == 0 %>
                            <tr class="odd">
                        <% else %>
                            <tr class="even">
                        <% end %>
                        <% i = i+1 %>
                        <td><%= k.strftime('%d/%m/%Y') %></td><td><%= congelado %></td><td><%= cuota %></td><td><%= extra %></td><td><%= recargos %></td><td><%= refin %></td><td><%= total %></td><td><%= cobrado %></td></tr>
                    <% end %>
                </tbody>
                </table>
    		</form>
		</div>
	</div>
</div>

