<table width=538 style="width:538px">
<tr><td><%= email_image_tag 'Cabezal.jpg' %></td></tr>
<tr><td>
<br>
Estimado/a <%= p @usuario.nombre + " " + @usuario.apellido %>:<br>
<br>
Adjuntamos copia de comprobante correspondiente a <%= p @mes %> de la cuenta <%= p @cuenta %>.<br>
<br>
Saludos cordiales<br>
<br>
</td></tr>
<tr><td><%= email_image_tag 'Pie.jpg' %></td></tr>