<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder do |a| %>

  <%= a.semantic_errors *a.object.errors.keys %>
  <%= a.inputs do %>
      <%= a.input :id %>
      <%= a.input :nombre %>
      <%= a.input :brou %>
      <%= a.input :visa %>
      <%= a.input :oca %>
      <%= a.input :retencion %>
      <%= a.input :comentario %>
  <% end %>

  <%= a.inputs "Titulares" do %>
    <table class="titular_cuenta">
      <tr>
        <th>Titular</th>
      </tr>
      
      <%= a.semantic_fields_for :titular_cuenta do |b| %>
        <% if b.object != nil %>
          <%= b.semantic_errors *b.object.errors.keys %>
        <% end %>
        <tr>
          <td><%= b.input :usuario_id, label: false , as: :select, collection: Usuario.all.order(:nombre,:apellido).map{|u| ["#{u.id} - #{u.nombre} #{u.apellido}",u.id]} %></td>
          <td><%= b.input :anio %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>

      <% js = a.semantic_fields_for :titular_cuenta, TitularCuenta.new do |b| %>
        <tr>
          <td><%= b.input :usuario_id, label: false , as: :select, collection: Usuario.all.order(:nombre,:apellido).map{|u| ["#{u.id} - #{u.nombre} #{u.apellido}",u.id]} %></td>
          <td><%= b.input :anio %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>
    </table>
    <span class="add-child">
      <% js = escape_javascript(js) %>
      <%= link_to I18n.t('active_admin.has_many_new',
          model: @child.to_s.singularize.titlecase), "#",
          onclick: "$('table.titular_cuenta tr').last().after(
                      '#{js}'.replace(/[0-9]+(?=[\\\]_])/g, new Date().getTime())
                    ); return false;",
          class: "button" %>
    </span>
  <% end %>

  <%= a.actions do %>
    <%= a.action :submit %>
    <li class="cancel"><%= link_to "Cancelar", [:admin, resource] %></li>
  <% end %>

<% end %>