<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder do |a| %>

  <%= a.semantic_errors *a.object.errors.keys %>
  <%= a.inputs do %>
      <%= a.input :nombre, input_html: { :readonly => true }  %>
      <%= a.input :fecha, input_html: { :readonly => true }  %>
  <% end %>

  <%= a.inputs "Alumnos" do %>
    <table class="actividad_alumno index_table index">
      <tr>
        <th>Alumno</th>
        <th>Mail</th>
        <th>Bajado</th>
        <th>Opción</th>
        <th>Fecha</th>    
        <th>Opción Secretaria</th>
      </tr>

      <% i = 0 %>
      <%= a.semantic_fields_for :actividad_alumno do |b| %>
        <%= b.semantic_errors *b.object.errors.keys %>
          <% if i % 2 == 0 %>
            <tr class="odd">
          <% else %>
            <tr class="even">
          <% end %>
          <% i = i + 1 %>
          <td><%= Alumno.find(b.object.alumno_id).nombre + " " + Alumno.find(b.object.alumno_id).apellido %></td>
          <% if b.object.mail != nil && b.object.mail %>
            <td><span class="status_tag yes">Si</span></td>
          <% else %>
            <td><span class="status_tag no">No</span></td>
          <% end %>
          <td><%= b.object.bajado != nil ? b.object.bajado.strftime('%d/%m/%Y') : "" %></td>
          <td><%= b.object.opcion != nil ? ActividadOpcion.opciones(b.object.actividad_id)[:elecciones][b.object.opcion] : "" %></td>
          <td><%= b.object.fecha != nil ? b.object.fecha.strftime('%d/%m/%Y') : "" %></td>
          <td><%= b.input :opcion_secretaria, label: false, as: :select, collection: ActividadOpcion.opciones(b.object.actividad_id)[:opciones] %></td>
          <td><%= b.input :fecha_secretaria, label: false, :input_html => { :value => DateTime.now }, as: :hidden %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= a.actions do %>
    <%= a.action :submit %>
    <li class="cancel"><%= link_to "Cancelar", [:admin, resource] %></li>
  <% end %>

<!--
  # form do |f|
  #   f.inputs do
  #     f.input :nombre, input_html: { :readonly => true }
  #     f.input :fecha, label: "Autorización hasta", :as => :date_picker, input_html: { :readonly => true }
  #     f.input :fechainfo, label: "Información hasta", :as => :date_picker, input_html: { :readonly => true }
  #   end

  #   f.inputs do
  #     f.has_many :actividad_alumno, heading: "Alumnos", allow_destroy: false, new_record: false do |l|
  #       l.input :opcion, label: "Opción Responsable", input_html: { :readonly => true }
  #       l.input :fecha, label: "Fecha", input_html: { :readonly => true }
  #       l.input :opcion_secretaria, label: "Opción Secretaría"        
  #       l.input :fecha_secretaria, label: "Fecha"
  #     end
  #   end

  #   f.actions
  # end
-->
<% end %>
