<%= semantic_form_for [:admin, Actividad.new], builder: ActiveAdmin::FormBuilder do |a| %>
  <%= a.inputs "Autorizar actividad" do %>
      <%= a.input :nombre  %>
      <%= a.input :fecha  %>
      <%= a.input :fechainfo  %>
  <% end %>

  <%= a.inputs "Alumnos" do %>
    <table class="actividad_alumno">
      <tr>
        <th>Alumno</th>
        <th>Opción Responsable</th>
        <th>Fecha</th>    
        <th>Opción Secretaria</th>
        <th>Fecha</th>
      </tr>
      
      <%= a.semantic_fields_for :actividad_alumno do |b| %>
        <tr>
          <td><%= Alumno.find(b.object.alumno).nombre + " " + Alumno.find(b.object.alumno).apellido %></td>
          <td><%= b.input :opcion, label: false %></td>
          <td><%= b.input :fecha, label: false %></td>
          <td><%= b.input :opcion_secretaria, label: false %></td>
          <td><%= b.input :fecha_secretaria, label: false %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

<% end %>
