<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder do |a| %>
  <%= a.inputs do %>
      <%= a.input :nombre, input_html: { :readonly => true }  %>
      <%= a.input :fecha, input_html: { :readonly => true }  %>
      <%= a.input :fechainfo, input_html: { :readonly => true }  %>
  <% end %>

  <%= a.inputs "Alumnos" do %>
    <table class="actividad_alumno">
      <tr>
        <th>Alumno</th>
        <th>Bajado</th>
        <th>Opción Responsable</th>
        <th>Fecha</th>    
        <th>Opción Secretaria</th>
        <th>Fecha</th>
      </tr>
      
      <%= a.semantic_fields_for :actividad_alumno do |b| %>
        <tr>
          <td><%= Alumno.find(b.object.alumno_id).nombre + " " + Alumno.find(b.object.alumno_id).apellido %></td>
          <td><%= b.object.bajado != nil ? b.object.bajado.strftime('%d/%m/%Y %H:%M:%S') : "" %></td>
          <td><%= b.object.opcion != nil ? ActividadOpcion.find(b.object.opcion).eleccion : "" %></td>
          <td><%= b.object.fecha != nil ? b.object.fecha.strftime('%d/%m/%Y %H:%M:%S') : "" %></td>
          <td><%= b.input :opcion_secretaria, label: false %></td>
          <td><%= b.input :fecha_secretaria, label: false %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= a.actions do %>
    <%= a.action :submit %>
    <li class="cancel"><%= link_to "Cancelar", [:admin, resource] %></li>
  <% end %>

<!--
  # form do |f|
  #   f.inputs do
  #     f.input :nombre, input_html: { :readonly => true }
  #     f.input :fecha, label: "Autorización hasta", :as => :date_picker, input_html: { :readonly => true }
  #     f.input :fechainfo, label: "Información hasta", :as => :date_picker, input_html: { :readonly => true }
  #   end

  #   f.inputs do
  #     f.has_many :actividad_alumno, heading: "Alumnos", allow_destroy: false, new_record: false do |l|
  #       l.input :opcion, label: "Opción Responsable", input_html: { :readonly => true }
  #       l.input :fecha, label: "Fecha", input_html: { :readonly => true }
  #       l.input :opcion_secretaria, label: "Opción Secretaría"        
  #       l.input :fecha_secretaria, label: "Fecha"
  #     end
  #   end

  #   f.actions
  # end
-->
<% end %>
