<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder do |a| %>

  <%= a.semantic_errors *a.object.errors.keys %>
  <%= a.inputs do %>
      <%= a.input :nombre, input_html: { :readonly => true }  %>
      <%= a.input :fecha, input_html: { :readonly => true }  %>
      <%= a.input :fechainfo, input_html: { :readonly => true }  %>
  <% end %>

  <%= a.inputs "Opciones" do %>
    <table class="actividad_opcion">
      <tr>
        <th>Concepto</th>
        <th>Cuotas</th>
        <th>Importe</th>
        <th>Fecha</th>    
      </tr>
      
      <%= a.semantic_fields_for :actividad_opcion do |b| %>
        <%= b.semantic_errors *b.object.errors.keys %>
        <tr>
          <td><%= b.input :opcion_concepto, label: false, as: :select, collection: OpcionConcepto.all.collect {|x| [x.nombre, x.id] } %></td>
          <td><%= b.input :cuotas, label: false %></td>
          <td><%= b.input :importe, label: false %></td>
          <td><%= b.input :fecha, label: false %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>

      <% js = a.semantic_fields_for :actividad_opcion, ActividadOpcion.new do |b| %>
        <tr>
          <td><%= b.input :opcion_concepto, label: false, as: :select, collection: OpcionConcepto.all.collect {|x| [x.nombre, x.id] } %></td>
          <td><%= b.input :cuotas, label: false %></td>
          <td><%= b.input :importe, label: false %></td>
          <td><%= b.input :fecha, label: false %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>

    </table>

    <span class="add-child">
      <% js = escape_javascript(js) %>
      <%= link_to I18n.t('active_admin.has_many_new',
          model: @child.to_s.singularize.titlecase), "#",
          onclick: "$('table.actividad_opcion tr').last().after(
                      '#{js}'.replace(/[0-9]+(?=[\\\]_])/g, new Date().getTime())
                    ); return false;",
          class: "button" %>
    </span>

  <% end %>

  <%= a.actions do %>
    <%= a.action :submit %>
    <li class="cancel"><%= link_to "Cancelar", [:admin, resource] %></li>
  <% end %>

<!--
  # form do |f|
  #   f.inputs do
  #     f.input :nombre, input_html: { :readonly => true }
  #     f.input :fecha, label: "Autorización hasta", :as => :date_picker, input_html: { :readonly => true }
  #     f.input :fechainfo, label: "Información hasta", :as => :date_picker, input_html: { :readonly => true }
  #   end

  #   f.inputs do
  #     f.has_many :actividad_alumno, heading: "Alumnos", allow_destroy: false, new_record: false do |l|
  #       l.input :opcion, label: "Opción Responsable", input_html: { :readonly => true }
  #       l.input :fecha, label: "Fecha", input_html: { :readonly => true }
  #       l.input :opcion_secretaria, label: "Opción Secretaría"        
  #       l.input :fecha_secretaria, label: "Fecha"
  #     end
  #   end

  #   f.actions
  # end
-->
<% end %>
