<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder do |a| %>

  <%= a.semantic_errors *a.object.errors.keys %>
  <%= a.inputs do %>
      <%= a.input :nombre  %>
      <%= a.input :cedula  %>
  <% end %>

  <%= a.inputs "Opciones" do %>
    <table class="formulario_inscripcion_opcion">
      <tr>
        <th>Opción</th>
      </tr>
      
      <%= a.semantic_fields_for :formulario_inscripcion_opcion do |b| %>
        <% if b.object != nil %>
          <%= b.semantic_errors *b.object.errors.keys %>
        <% end %>
        <tr>
          <td><%= b.input :inscripcion_opcion_id, :label => false, :as => :select, collection: InscripcionOpcion.joins("INNER JOIN inscripcion_opcion_tipos ON inscripcion_opciones.inscripcion_opcion_tipo_id=inscripcion_opcion_tipos.id").all.order("inscripcion_opcion_tipos.nombre, inscripcion_opciones.nombre").select( "inscripcion_opciones.id as id1, inscripcion_opciones_tipos.nombre || ': ' || inscripcion_opciones.nombre as nombre1").map{|u| ["#{u.nombre1}",u.id1]} %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>

      <% js = a.semantic_fields_for :formulario_inscripcion_opcion, FormularioInscripcionOpcion.new do |b| %>
        <tr>
          <td><%= b.input :inscripcion_opcion_id, :label => false, :as => :select, collection: InscripcionOpcion.joins("INNER JOIN inscripcion_opcion_tipos ON inscripcion_opciones.inscripcion_opcion_tipo_id=inscripcion_opcion_tipos.id").all.order("inscripcion_opcion_tipos.nombre, inscripcion_opciones.nombre").select( "inscripcion_opciones.id as id1, inscripcion_opciones_tipos.nombre || ': ' || inscripcion_opciones.nombre as nombre1").map{|u| ["#{u.nombre1}",u.id1]} %></td>
          <td><%= b.input :_destroy, as: :boolean, required: false, label: 'Eliminar' %></td>
        </tr>
      <% end %>
    </table>
    <span class="add-child">
      <% js = escape_javascript(js) %>
      <%= link_to I18n.t('active_admin.has_many_new',
          model: @child.to_s.singularize.titlecase), "#",
          onclick: "$('table.formulario_inscripcion_opcion tr').last().after(
                      '#{js}'.replace(/[0-9]+(?=[\\\]_])/g, new Date().getTime())
                    ); return false;",
          class: "button" %>
    </span>
  <% end %>

  <%= a.actions do %>
    <%= a.action :submit %>
    <li class="cancel"><%= link_to "Cancelar", [:admin, resource] %></li>
  <% end %>

<% end %>
