<%= form_tag(admin_ver_aactividad_ver_path, :method => "post") do %>
	<%= select_tag :alumno_id, options_for_select( Alumno.where("id IN (SELECT alumno_id FROM sector_alumnos WHERE sector_id IN (" + Alumno.consulta(usuario_id) + ") AND anio IN (SELECT anio FROM configs WHERE NOT anio IS NULL) AND NOT alumno_id IS NULL)").order(:nombre).map{|u| [u.nombre + " " + u.apellido, u.id]},alumno_id) %>
    <%= submit_tag "Ver" %>
<% end %>
<br><br>




<div class="col-md-12 col-sm-12 col-xs-12 content-table">
	<div class="panel-group sub-grupo">
		<div class="panel panel-default">
			<div class="col-md-12 col-sm-12 col-xs-12 content-table">



<% x = Aactividad.new %>
<% y = AactividadAlumno.new %>
<% t = alumno_id %>
<% @act = AactividadAlumno.where(['alumno_id = ?',t]).order("aactividad_id") %>
<% if (@act != nil) %>
	<% @act.each do |a| %>
		<% @actividad = Aactividad.find(a.aactividad_id) rescue nil %>
		<% if @actividad != nil && (@actividad.fechainfo == nil || @actividad.fechainfo >= DateTime.now ) %>
		    <br>
			
			<%= form_for(x, as: :aactividad, url: '#', :html => {:id=>'form_download_' + a.aactividad_id.to_s}) do |f| %>
	           <%= f.hidden_field :id, value: @actividad.id %>
					<b><%= link_to "Descargar información: " + @actividad.nombre, "", :onclick => "$('#form_download_" + a.aactividad_id.to_s + "').submit()" %></b>
			<% end %>

		    <% if @actividad.fecha == nil || @actividad.fecha >= DateTime.now %>

		    	<% arreglo = a.opciones() %>
		    	<% p arreglo %>

				<% if arreglo[:opciones].count > 0 %>

					<%= form_for(y, as: :actividad_alumno, url: '#') do |f| %>


					    <% if arreglo[:elecciones][a.opcion] != nil %>
					    	<b><%= p arreglo[:elecciones][a.opcion] %></b>
					    <% else %>
					    	<b><%= p "" %></b>
					    <% end %><br><br>

			            <%= f.hidden_field :alumno_id, value: t %>
			            <%= f.hidden_field :aactividad_id, value: a.aactividad_id %>

						
						<%= f.select :opcion, options_for_select(arreglo[:opciones], a.opcion)  %><br><br>
			            <%= f.submit "Confirmar"  %>

					<% end %>												
				<% end %>	
				<br>
			<% end %>
		<% end %>
	<% end %>
<% end %>

			</div>
		</div>
	</div>
</div>
